

body, html{
    background-color: #000;
    z-index: -3;
    overflow: hidden;
    cursor: url('../visual_assets/cursor_acx.svg'), auto;
    font-family: 'Roboto Mono', monospace;
}

@keyframes container_in {
    0%{height:0%}
    100%{height:27.12962963%}
}

#cursor_bkg{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1;
}
img{
    user-select: none;
    pointer-events: none;
}
#cursor_acx{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -50%);
    height: 46.296296296%;
    width: 26.041666667%;
    border-radius: 1000px;
    background: radial-gradient(50% 50% at 50% 50%, #2400FF90 0%, rgba(6, 0, 46, 0) 100%);
}
#about_me_container{
    display: flex;
}
#about_me_content_container:hover, #about_me_title_container:hover{
    background-color: #2400FF40;
}
#about_me_l{
    position: relative;
    left: 5%;
    color: #AAA;
    font-size: 1.3vw;
    font-weight: 300;
}
.blur{
    backdrop-filter: blur(1px);
}
#about_me_content_container{
    display: flex;
}

#am_title_border_0, #am_title_border_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 4.480286738%;
    height: 0.11vh;
    background-color: #000AFF;
}
#am_title_border_1{
    width: 0.11vh;
    height: 60.975609756%;
}
#am_content_border_0, #am_content_border_1{
    position: absolute;
    top: 99.8%;
    left: 95.519713262%;
    width: 4.480286738%;
    height: 0.11vh;
    background-color: #000AFF;
}
#am_content_border_1{
    top: 89.583333333%;
    height: 10.416666667%;
    width: 0.11vh;
    left: 99.8%;
}
#about_me_title_container{
    position: absolute;
    top: 22.87037037%;
    left: 3.229166667%;
    width: 17.65625%;
    height: 4.537037037%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #2400FF20;
    transition: background-color linear 0.1s;
}
#about_me_content_acx{
    padding-left: 0.87%;
    padding-right: 2%;
    position: absolute;
    top: 27.962962963%;
    left: 3.229166667%;
    width: 38.335648148%;
    height: 39.722222222%;
    background-color: #2400FF20;
    font-weight: 300;
    color: #FFF;
    font-size: 1.1vw;
}
#projects_top_container{
    position: absolute;
    top: 21.018518519%;
    left: 50.572916667%;
    width: 48.385416667%;
    height: 9.166666667%;
    background-color: #0013BA20;
    border-left: solid 1px #001AFF;
}
#projects_top_l{
    position: absolute;
    top: 5.050505051%;
    left: 1.399354144%;
    color: #B3B3B3;
    font-size: 1.1vw;
    font-weight: 300;
}
#projects_top_ln_0{
    position: absolute;
    top: 45.454545455%;
    left: 1.506996771%;
    width: 96.986006459%;
    height: 0.11vh;
    background-color: #001AFF70;
}
.projects_top_x_l{
    position: absolute;
    top: 46.464646465%;
    height: 53.535353535%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565656;
    font-size: 1vw;
    font-weight: 300;
}
#projects_top_name_l{
    left: 1.506996771%;
    width: 26.480086114%;
}
#projects_top_duration_l{
    left: 27.987082885%;
    width: 29.06350915%;
}
#projects_top_lang_tech_l{
    left: 57.050592034%;
    width: 41.442411195%;
}
#projects_top_name_ln, #projects_top_duration_ln{
    position: absolute;
    top: 54.545454545%;
    left: 27.879440258%;
    width: 0.11vh;
    height: 39.393939394%;
    background-color: #001AFF70;
}
#projects_top_duration_ln{
    left: 56.942949408%;
}
.project_x_container{
    position: absolute;
    left: 50.572916667%;
    width: 48.385416667%;
    height: 10.092592593%;
    background-color: #0013BA20;
    display: flex;
    align-items: center;
    transition: background-color linear 0.1s;
}
.project_x_container:hover{
    background-color: #0013BA40;
}
#project_dolores_container{
    top: 31.296296296%;
    border-left: solid 2px #8000FF;
}
.project_x_l{
    position: absolute;
    color: #EEE;
    font-size: 1.1vw;
    font-weight: 300;
    left: 2.15285253%;
}
.project_x_duration_l{
    position: absolute;
    color: #EEE;
    font-size: 1.1vw;
    font-weight: 300;
    left: 32.508073197%;
}
.project_x_lang_tech_l{
    position: absolute;
    color: #EEE;
    font-size: 1.1vw;
    font-weight: 300;
    left: 65.016146394%;
}
#ring_relay_container{
    top: 42.5%;
    border-left: solid 2px #00FFF0;
}
#project_eagle_container{
    top: 53.703703704%;
    border-left: solid 2px #00FFF0;
}
#ring_relay_lang_tech_l_0{
    top: 4.587155963%;
}
#ring_relay_lang_tech_l_1{
    top: 34.862385321%;
}
#ring_relay_lang_tech_l_2{
    top: 65.137614679%;
}
