<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="style/main.css">
    <title>Personal Website</title>
</head>

<body>
    <img id="cursor_bkg" viewBox="0 0 1920 1080" src="visual_assets/bkg_v2.svg" alt="nicer">
    <img id="cursor_bkg_lrd" viewBox="0 0 1920 1080" src="visual_assets/bkg_v3.1.svg" alt="nicer">
    <div id="about_me_container">
        <div id="about_me_l">About Me</div>
        <div id="about_me_ln"></div>
        <div id="about_me_content_acx">Dominic Zlat is a junior full-stack web developer that's really good at learning whatever it takes to achive any goals. This goal-driven approach led to a solid knowledge base and skill sets required for anything from UX/UI design, to designing and implementing back-end architectures. He is a big fan of the Agile project management method as it provides the adaptability necessary to succeed today. With a cumulative programming experience of +1.5 years, Dominic is looking for a place to use the experience gained so far to add value to any company which is looking to hire a junior full-stack web dev.</div>
    </div>>
    <div id="projects_cotnainer">
        <div id="projects_top_container">
            <div id="projects_top_l">Projects</div>
            <div id="projects_top_ln_0"></div>
            <div id="projects_top_name_l" class="projects_top_x_l">Name</div>
            <div id="projects_top_name_ln" class="projects_top_x_ln"></div>
            <div id="projects_top_duration_l" class="projects_top_x_l">Duration</div>
            <div id="projects_top_duration_ln" class="projects_top_x_ln"></div>
            <div id="projects_top_lang_tech_l" class="projects_top_x_l">Languages/Tech Stack</div>
        </div>
        <div id="project_dolores_container" class="project_x_container">
            <div class="project_x_l">Project Dolores</div>
            <div class="project_x_status_l">Completed</div>
            <div class="project_x_duration_l">~7 months in 2020</div>
            <div class="project_x_lang_tech_l">C# / .NET Framework </div>
        </div>
        <div id="ring_relay_container" class="project_x_container">
            <div class="project_x_l">Ring Relay</div>
            <div class="project_x_status_l">Completed*</div>
            <div class="project_x_duration_l">18-23 Dec 2021</div>
            <div id="ring_relay_lang_tech_l_0" class="project_x_lang_tech_l">Express</div>
            <div id="ring_relay_lang_tech_l_1" class="project_x_lang_tech_l">Firebase Realtime DB</div>
            <div id="ring_relay_lang_tech_l_2" class="project_x_lang_tech_l">Vanilla JS/CSS/HTML F/E</div>
        </div>
        <div id="project_eagle_container" class="project_x_container">
            <div class="project_x_l">Project Eagle</div>
            <div id="project_eagle_status_l" class="project_x_status_l">Active</div>
            <div class="project_x_duration_l">14 Jan 2021-</div>
            <div id="ring_relay_lang_tech_l_0" class="project_x_lang_tech_l">Express</div>
            <div id="ring_relay_lang_tech_l_1" class="project_x_lang_tech_l">Mongo DB</div>
            <div id="ring_relay_lang_tech_l_2" class="project_x_lang_tech_l">Vanilla JS/CSS/HTML F/E</div>
        </div>

        <div id="project_details_container">
            <div id="project_details_cover">
                <svg id="project_details_deco" width="179" height="150" viewBox="0 0 179 150" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect y="0.707092" width="1" height="91.7381" transform="rotate(-45 0 0.707092)" fill="#0400D9" />
                    <rect x="65.8687" y="84" width="1" height="91.7381" transform="rotate(45 65.8687 84)"
                        fill="#0400D9" />
                    <rect x="14" y="0.707092" width="1" height="91.7381" transform="rotate(-45 14 0.707092)"
                        fill="#0400D9" />
                    <rect x="79.8687" y="84" width="1" height="91.7381" transform="rotate(45 79.8687 84)"
                        fill="#0400D9" />
                    <rect x="178.576" y="148.869" width="1" height="91.7381" transform="rotate(135 178.576 148.869)"
                        fill="#0400D9" />
                    <rect x="112.707" y="65.5757" width="1" height="91.7381" transform="rotate(-135 112.707 65.5757)"
                        fill="#0400D9" />
                    <rect x="164.576" y="148.869" width="1" height="91.7381" transform="rotate(135 164.576 148.869)"
                        fill="#0400D9" />
                    <rect x="98.707" y="65.5757" width="1" height="91.7381" transform="rotate(-135 98.707 65.5757)"
                        fill="#0400D9" />
                </svg>
                <div id="project_details_l">Click on a project to show more details about it</div>
            </div>
            <div id="project_details_acx">

            </div>
        </div>
    </div>
    <div id="tech_container">
        <div id="tech_l">Skill levels</div>
        <div id="tech_ln"></div>
        <div id="tech_ln_v"></div>

        <div id="sl_0_container" class="sl_x_container">
            <div class="sl_x_l">Mongo DB</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_1_container" class="sl_x_container">
            <div class="sl_x_l">Socket.IO</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
        <div id="sl_2_container" class="sl_x_container">
            <div class="sl_x_l">Node/Express</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
        <div id="sl_3_container" class="sl_x_container">
            <div id="sf" class="sl_x_l">Firebase Realtime Database</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_4_container" class="sl_x_container l">
            <div class="sl_x_l">React</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 f"></div>
                <div class="sl_l2 f"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_5_container" class="sl_x_container l">
            <div class="sl_x_l">HTML/CSS/JS</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
        <div id="sl_6_container" class="sl_x_container l">
            <div class="sl_x_l">DevOps</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_7_container" class="sl_x_container l">
            <div class="sl_x_l">UI/UX Design</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
    </div>

    <div id="contact_container">
        <div id="contact_l">Contact</div>
        <div id="contact_ln_0"></div>
        <div id="contact_ln_1"></div>
        <div id="contact_ln_0_b" class="contact_ln_x_b"></div>
        <div id="contact_ln_1_b" class="contact_ln_x_b"></div>

        <div id="contact_ln_0_v"></div>
        <div id="contact_ln_1_v"></div>

        <div id="contact_ln_00"></div>
        <div id="contact_ln_01"></div>

        <div id="contact_bkg">
            <div id="contact_email_l">zlat.dominic.francisc@gmail.com</div>
            <div id="contact_phone_number_l">+40 741354166</div>
            <svg id="contact_phone_number_deco" width="22" height="36" viewBox="0 0 22 36" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="21" height="35" rx="2.5" fill="#1400FF" fill-opacity="0.1"
                    stroke="#1400FF" />
                <rect x="10" y="32" width="2" height="2" rx="1" fill="#1400FF" />
            </svg>
        </div>

        <div id="contact_info_separator_ln"></div>
    </div>
    <div id="overview_ln_container">
        <div id="overview_ln_0"></div>
        <div id="overview_ln_1"></div>
        <div id="overview_ln_0_h"></div>
        <div id="overview_ln_1_h"></div>
        <div id="overview_ln_0_c"></div>
        <div id="overview_ln_1_c"></div>
    </div>

    <div id="project_details_container_acx">
        <div id="project_details_title_nav_container">
            <div id="project_details_back_btn">&lt;Back</div>
            <div id="project_details_title_l">Void Ray Fleet</div>
        </div>
        <div id="project_dolores_details_acx" class="x_details_acx">Project Dolores was a toy project meant to allow me to experiment with simple neural networks while also improving my C# skills. The project contains an interface that allows the user to observe the evolution of the neural networks by each passing generation. There are 100 of these simple perceptron networks trying to do their best to survive as long as possible in a Flappy Bird-like game. The user has access to all the parameters of the NNs as well as their performance over time, all plotted using build-in Win Forms graphs that were customized to best match the rest of the design of the UI. While the NNs were 'playing' the game, the user can also observe what decision each NN makes in real-time. That section of the UI is also used to indicate which NNs were surviving and which already lost. The quality of the code behind this was really bad but this experience taught me the importance of concepts like Don't Repeat Yourself.</div>
        <div id="ring_relay_details_acx" class="x_details_acx">The Ring Relay is a basic chatting app for mobile devices only that uses websockets to relay messages in real-time and the Firebase Realtime Database to store the encrypted messages. The idea behind this project is to have a way of texting my friends using an app that's not owned by big tech. The backend uses the Express framework and considering this project is not that complex, I decided not to use a front-end framework tho I might refactor it in React as an exercise. This project gave me additional insight into how the Firebase Realtime DB works and how to use websockets for purposes such as sending any payload to a specific user using an unique identifier.</div>
        <div id="project_eagle_details_acx" class="x_details_acx">This project started out as a result of my passion for UAVs and pretty much everything that flies. The idea is to build an UAV capable of being remotely controlled from anywhere using a web application. This eventually became a startup idea I am actively working on. The current full stack web app I developed so far for this project is capable of relaying live telemetry coming from real sensors in real-time to any device that's logged into an account that has access to the specific UAV. This web app also contains extensive MFA methods as well as an access/role system. It is also PWA compatible and supports both phones and desktops. Since i'm trying to bring this web app as close to production as possible, this helped greatly with gaining a lot of experiance in developing full stack web apps. This app does far more than what is described here, so checking out the live deployment is highly recommended. Also, this is the first web app i've ever developed and I got it to the point where it is today by learning on the fly how to do anything I wanted to implement, which lead to a solid knowledge base that was build over time.</div>
        <div id="view_live_deployment_btn">View Live Deployment</div>
        <div id="additional_tech_tools_container">
            <div id="additional_tech_tools_l">Additional Tech/Tools used</div>
            <ul id="project_dolores_tech_tools_list" class="x_tech_tools_list">
                <li class="tech_tool_elm nli">N/A</li>
            </ul>
            <ul id="ring_relay_tech_tools_list" class="x_tech_tools_list">
                <li class="tech_tool_elm">Figma for designing the UI/UX</li>
                <li class="tech_tool_elm">New Relic integration for monitoring</li>
                <li class="tech_tool_elm">Git with Github for managing the codebase</li>
                <li class="tech_tool_elm">PM2 as a process manager</li>
                <li class="tech_tool_elm">User data storage operational security (hash passwords, encrypt sensitive content)</li>
            </ul>
            <ul id="project_eagle_tech_tools_list" class="x_tech_tools_list">
                <li class="tech_tool_elm">Different 3rd party APIs such as SendGrid and Geoapify</li>
                <li class="tech_tool_elm">Cloudflare for custom domain SSL, WAF and cache management</li>
                <li class="tech_tool_elm">The Agile project management methodology</li>
                <li class="tech_tool_elm">Snyk for security</li>
                <li class="tech_tool_elm">New Relic and Postman for monitoring</li>
                <li class="tech_tool_elm">Different services like BrowserStack for debugging and testing on a variety of real devices</li>
            </ul>
        </div>
    </div>

</body>
<script src="js/main.js"></script>

</html>