<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <title>Personal Website</title>
</head>

<body>
    <img id="cursor_bkg" src="visual_assets/bkg_v2.svg" alt="nicer">
    <div id="about_me_container">
        <div id="about_me_title_container" class="blur">
            <div id="about_me_l">About Me</div>
        </div>
        <div id="about_me_content_acx">I ♥ Void rays</div>
    </div>
    <div id="projects_cotnainer">
        <div id="projects_top_container">
            <div id="projects_top_l">Projects</div>
            <div id="projects_top_ln_0"></div>
            <div id="projects_top_name_l" class="projects_top_x_l">Name</div>
            <div id="projects_top_name_ln" class="projects_top_x_ln"></div>
            <div id="projects_top_duration_l" class="projects_top_x_l">Duration</div>
            <div id="projects_top_duration_ln" class="projects_top_x_ln"></div>
            <div id="projects_top_lang_tech_l" class="projects_top_x_l">Languages/Tech Stack</div>
        </div>
        <div id="project_dolores_container" class="project_x_container">
            <div class="project_x_l">Project Dolores</div>
            <div class="project_x_duration_l">~7 months in 2020</div>
            <div class="project_x_lang_tech_l">C# / .NET Framework </div>
        </div>
        <div id="ring_relay_container" class="project_x_container">
            <div class="project_x_l">Ring Relay</div>
            <div class="project_x_duration_l">18-23 Dec 2021</div>
            <div id="ring_relay_lang_tech_l_0" class="project_x_lang_tech_l">Express</div>
            <div id="ring_relay_lang_tech_l_1" class="project_x_lang_tech_l">Firebase Realtime DB</div>
            <div id="ring_relay_lang_tech_l_2" class="project_x_lang_tech_l">Vanilla JS/CSS/HTML F/E</div>
        </div>
        <div id="project_eagle_container" class="project_x_container">
            <div class="project_x_l">Project Eagle</div>
            <div class="project_x_duration_l">14 Jan 2021-</div>
            <div id="ring_relay_lang_tech_l_0" class="project_x_lang_tech_l">Express</div>
            <div id="ring_relay_lang_tech_l_1" class="project_x_lang_tech_l">Mongo DB</div>
            <div id="ring_relay_lang_tech_l_2" class="project_x_lang_tech_l">Vanilla JS/CSS/HTML F/E</div>
        </div>
    </div>
</body>
<script src="js/main.js"></script>

</html>