<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <title>Personal Website</title>
</head>

<body>
    <img id="cursor_bkg" src="visual_assets/cursor_bkg_v2.svg" alt="nicer">
    <div id="cursor_acx"></div>
    <div id="about_me_container">
        <div id="about_me_title_container">
            <div id="about_me_l">ABOUT ME</div>
        </div>
        <div id="about_me_content_container">
            
        </div>>
    </div>

</body>
<script src="js/main.js"></script>

</html>