<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <title>Personal Website</title>
</head>

<body>
    <img id="cursor_bkg" viewBox="0 0 1920 1080" src="visual_assets/bkg_v2.svg" alt="nicer">
    <img id="cursor_bkg_lrd" viewBox="0 0 1920 1080" src="visual_assets/bkg_v3.1.svg" alt="nicer">
    <div id="about_me_container">
        <div id="about_me_l">About Me</div>
        <div id="about_me_ln"></div>
        <div id="about_me_content_acx">I *insert heart emoji here* Void Rays</div>
    </div>>
    <div id="projects_cotnainer">
        <div id="projects_top_container">
            <div id="projects_top_l">Projects</div>
            <div id="projects_top_ln_0"></div>
            <div id="projects_top_name_l" class="projects_top_x_l">Name</div>
            <div id="projects_top_name_ln" class="projects_top_x_ln"></div>
            <div id="projects_top_duration_l" class="projects_top_x_l">Duration</div>
            <div id="projects_top_duration_ln" class="projects_top_x_ln"></div>
            <div id="projects_top_lang_tech_l" class="projects_top_x_l">Languages/Tech Stack</div>
        </div>
        <div id="project_dolores_container" class="project_x_container">
            <div class="project_x_l">Project Dolores</div>
            <div class="project_x_status_l">Completed</div>
            <div class="project_x_duration_l">~7 months in 2020</div>
            <div class="project_x_lang_tech_l">C# / .NET Framework </div>
        </div>
        <div id="ring_relay_container" class="project_x_container">
            <div class="project_x_l">Ring Relay</div>
            <div class="project_x_status_l">Completed*</div>
            <div class="project_x_duration_l">18-23 Dec 2021</div>
            <div id="ring_relay_lang_tech_l_0" class="project_x_lang_tech_l">Express</div>
            <div id="ring_relay_lang_tech_l_1" class="project_x_lang_tech_l">Firebase Realtime DB</div>
            <div id="ring_relay_lang_tech_l_2" class="project_x_lang_tech_l">Vanilla JS/CSS/HTML F/E</div>
        </div>
        <div id="project_eagle_container" class="project_x_container">
            <div class="project_x_l">Project Eagle</div>
            <div id="project_eagle_status_l" class="project_x_status_l">Active</div>
            <div class="project_x_duration_l">14 Jan 2021-</div>
            <div id="ring_relay_lang_tech_l_0" class="project_x_lang_tech_l">Express</div>
            <div id="ring_relay_lang_tech_l_1" class="project_x_lang_tech_l">Mongo DB</div>
            <div id="ring_relay_lang_tech_l_2" class="project_x_lang_tech_l">Vanilla JS/CSS/HTML F/E</div>
        </div>

        <div id="project_details_container">
            <div id="project_details_cover">
                <svg id="project_details_deco" width="179" height="150" viewBox="0 0 179 150" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect y="0.707092" width="1" height="91.7381" transform="rotate(-45 0 0.707092)" fill="#0400D9" />
                    <rect x="65.8687" y="84" width="1" height="91.7381" transform="rotate(45 65.8687 84)"
                        fill="#0400D9" />
                    <rect x="14" y="0.707092" width="1" height="91.7381" transform="rotate(-45 14 0.707092)"
                        fill="#0400D9" />
                    <rect x="79.8687" y="84" width="1" height="91.7381" transform="rotate(45 79.8687 84)"
                        fill="#0400D9" />
                    <rect x="178.576" y="148.869" width="1" height="91.7381" transform="rotate(135 178.576 148.869)"
                        fill="#0400D9" />
                    <rect x="112.707" y="65.5757" width="1" height="91.7381" transform="rotate(-135 112.707 65.5757)"
                        fill="#0400D9" />
                    <rect x="164.576" y="148.869" width="1" height="91.7381" transform="rotate(135 164.576 148.869)"
                        fill="#0400D9" />
                    <rect x="98.707" y="65.5757" width="1" height="91.7381" transform="rotate(-135 98.707 65.5757)"
                        fill="#0400D9" />
                </svg>
                <div id="project_details_l">Click on a project to show more details about it</div>
            </div>
            <div id="project_details_acx">

            </div>
        </div>
    </div>
    <div id="tech_container">
        <div id="tech_l">Skill levels</div>
        <div id="tech_ln"></div>
        <div id="tech_ln_v"></div>

        <div id="sl_0_container" class="sl_x_container">
            <div class="sl_x_l">Mongo DB</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_1_container" class="sl_x_container">
            <div class="sl_x_l">Socket.IO</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
        <div id="sl_2_container" class="sl_x_container">
            <div class="sl_x_l">Node/Express</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
        <div id="sl_3_container" class="sl_x_container">
            <div class="sl_x_l">Firebase Realtime DB</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 f"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_4_container" class="sl_x_container l">
            <div class="sl_x_l">React</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 f"></div>
                <div class="sl_l2 f"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_5_container" class="sl_x_container l">
            <div class="sl_x_l">HTML/CSS/JS</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 i"></div>
            </div>
        </div>
        <div id="sl_6_container" class="sl_x_container l">
            <div class="sl_x_l">DevOps</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
        <div id="sl_7_container" class="sl_x_container l">
            <div class="sl_x_l">UI/UX Design</div>
            <div class="sl_indi_container">
                <div class="sl_l0 i"></div>
                <div class="sl_l1 i"></div>
                <div class="sl_l2 i"></div>
                <div class="sl_l3 f"></div>
            </div>
        </div>
    </div>

    <div id="contact_container">
        <div id="contact_l">Contact</div>
        <div id="contact_ln_0"></div>
        <div id="contact_ln_1"></div>
        <div id="contact_ln_0_b" class="contact_ln_x_b"></div>
        <div id="contact_ln_1_b" class="contact_ln_x_b"></div>

        <div id="contact_ln_0_v"></div>
        <div id="contact_ln_1_v"></div>

        <div id="contact_ln_00"></div>
        <div id="contact_ln_01"></div>

        <div id="contact_bkg">
            <div id="contact_email_l">zlat.dominic.francisc@gmail.com</div>
            <div id="contact_phone_number_l">+40 741354166</div>
            <svg id="contact_phone_number_deco" width="22" height="36" viewBox="0 0 22 36" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="21" height="35" rx="2.5" fill="#1400FF" fill-opacity="0.1"
                    stroke="#1400FF" />
                <rect x="10" y="32" width="2" height="2" rx="1" fill="#1400FF" />
            </svg>
        </div>

        <div id="contact_info_separator_ln"></div>
    </div>

    <div id="overview_ln_0"></div>
    <div id="overview_ln_1"></div>
    <div id="overview_ln_0_h"></div>
    <div id="overview_ln_1_h"></div>
    <div id="overview_ln_0_c"></div>
    <div id="overview_ln_1_c"></div>

    <div id="project_details_container_acx">
        <div id="project_details_title_nav_container">
            <div id="project_details_back_btn">&lt;Back</div>
            <div id="project_details_title_l">Void Ray Fleet</div>
        </div>
        <div id="additional_tech_tools_container">
            <div id="additional_tech_tools_l">Additional Tech/Tools used</div>
        </div>
    </div>

</body>
<script src="js/main.js"></script>

</html>